@model SurveyApp.Models.Formmodel

<form asp-action="Submit" asp-controller="Home" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name">
    <span asp-validation-for="Name"></span>
    <br>
    <label asp-for="DojoLocation"></label>
    <select asp-for="DojoLocation">
        <option value="Seattle">Seattle</option>
        <option value="San Jose">San Jose</option>
    </select>
    <br>
    <label asp-for="FavoriteLanguage"></label>
    <select asp-for="FavoriteLanguage">
        <option value="C#">C#</option>
        <option value="JavaScript">JavaScript</option>
    </select>
    <br>
    <label asp-for="Comment">Comment:</label>
    <input asp-for="Comment">
    <span asp-validation-for="Comment"></span>
    <br>
    <button type="submit">Submit</button>
</form>