@{
    ViewData["Title"] = "Add";
}

<div class="text-center">
    <h1 class="display-4">New Pet</h1>
    <form action="/pet/create" method="post">
        <div class="bm-3"></div>
    </form>
</div>
